<app-player *ngFor="let player of game.players let i = index" class="player-position"
[name]="player"    
[ngStyle]="{ 'top.px' : (i * 130) + 100 }" style="top: 100px"></app-player>

<div class="board">

    <div class="card-stack">
        <!-- Card Stack -->
        <img [ngStyle]="{ 'right.px': i * 5 }" *ngFor="let c of [0,1,2,3]; let i = index"
            src="/assets/img/cards/card_cover.png">
        <img (click)="takeCard()" class="top-card" style="right: 25px" src="/assets/img/cards/card_cover.png" alt="">

        <!-- Stack for played Cards -->
        <img *ngFor="let card of game.playedCard" class="playCard" src="/assets/img/cards/{{ card }}.png" alt="">

        <!-- Current Card animation -->
        <img (click)="takeCard()" *ngIf="pickCardAnimation" [class.pick-card]="pickCardAnimation" class="pick-card"
            style="right: 25px" src="/assets/img/cards/{{ currentCard }}.png" alt="">

    </div>

    <button mat-fab color="primary" class="btn-add">
    <mat-icon>add</mat-icon>
  </button>

</div>

